body {
    color: grey !important;
    background-color: #FAE8EB !important;
    font-family: 'Poppins', sans-serif;
}
h2{
    font-size: 34px;
    font-weight: 100;
    text-align: center;
}
h1, .success-message{
    text-align:center;
    justify-content: center;
}
input:hover,
input:focus {
    border-color: #FF00BF !important; 
    background-color:transparent !important;
  }
.form-control{
    height: 41px;
    background-color: #fff;
    box-shadow: none !important;
    border: none;
}
.form-control:focus{
    background: #e2e2e2;
}
.form-control, .btn{        
    border-radius: 3px;
}
.signup-form{
    width: 390px;
    margin: 30px auto;
}
.signup-form form{
    color: #999;
    border-radius: 3px;
    margin-bottom: 15px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
}
.signup-form h2 {
    color: #333;
    font-weight: bold;
    margin-top: 0;
}
.signup-form hr {
    margin: 0 -30px 20px;
}    
.signup-form .form-group{
    margin-bottom: 20px;
}
.signup-form input[type="checkbox"]{
    margin-top: 3px;
}
.signup-form .row div:first-child{
    padding-right: 10px;
}
.signup-form .row div:last-child{
    padding-left: 10px;
}
.signup-form .btn{        
    font-size: 16px;
    font-weight: bold;
    background: #FF00BF;
    border: none;
    min-width: 140px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
}
.signup-form .btn:hover, .signup-form .btn:focus{
    background: #FF00BF!important;
    outline: none;
    
}

.signup-form a{
    color: #FF00BF;
    font-size: 16px;
    opacity: 0.4;
}
.signup-form a:hover{
    text-decoration: none;
}
.signup-form form a{
    color: #FF00BF;
    text-decoration: none;
    opacity: 0.4;
}	
.signup-form form a:hover{
    text-decoration: underline;
}
.signup-form .hint-text {
    padding-bottom: 15px;
    text-align: center;
}
.lyft-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.lyft-logo {
    width: 250px;
    height: auto;
    opacity: 0.4;
    mix-blend-mode: multiply;
}
.hint-text{
    font-size: 18px;
}
.signup-form {
    text-align: center;
  }

  .register-button {
    margin-top: 20px;
    display: inline-block;
  }